.footer {
  width: 100%;
  height: 20rem;
  display: flex;

  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  padding: 0 1rem 0 1rem;
  background-color: #db5461;
  color: #fafafa;
}

.footer_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50%;
  width: 90%;
  margin: 0 auto;
}

.text_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.text_container a {
  position: relative;
  top: 0.3rem;
  left: 2.5rem;
}
