.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 0 1rem;
  margin-bottom: 4rem;
  background-color: #c83e4d;
  color: #fafafa;
  border-bottom: 1rem solid #353831;
}

.header_content {
  min-height: 50%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .header_content {
    font-size: 1rem;
  }
}
